NET "ss" LOC = "AA6" | IOSTANDARD = LVCMOS33;
NET "mosi" LOC = "AB4" | IOSTANDARD = LVCMOS33;
NET "miso" LOC = "T7" | IOSTANDARD = LVCMOS33;
NET "sclk" LOC = "R9" | IOSTANDARD = LVCMOS33;
NET "col_in[3]" LOC = "D10" | IOSTANDARD = LVCMOS33;
NET "col_in[2]" LOC = "C8" | IOSTANDARD = LVCMOS33;
NET "col_in[1]" LOC = "D8" | IOSTANDARD = LVCMOS33;
NET "col_in[0]" LOC = "D6" | IOSTANDARD = LVCMOS33;
NET "row_out[3]" LOC = "C10" | IOSTANDARD = LVCMOS33;
NET "row_out[2]" LOC = "D9" | IOSTANDARD = LVCMOS33;
NET "row_out[1]" LOC = "D7" | IOSTANDARD = LVCMOS33;
NET "row_out[0]" LOC = "C6" | IOSTANDARD = LVCMOS33;
NET "physical_keyin_state[0]" LOC = "A20" | IOSTANDARD = SSTL15_II;
NET "physical_keyin_state[1]" LOC = "A21" | IOSTANDARD = SSTL15_II;
NET "physical_keyin_state[2]" LOC = "B21" | IOSTANDARD = SSTL15_II;
NET "physical_keyin_state[3]" LOC = "B22" | IOSTANDARD = SSTL15_II;
NET "physical_keyin_state[4]" LOC = "J16" | IOSTANDARD = SSTL15_II;
NET "physical_keyin_state[5]" LOC = "K16" | IOSTANDARD = SSTL15_II;
NET "rst" LOC = "G17" | IOSTANDARD = SSTL15_II;
NET "clk" LOC = "AA12" | IOSTANDARD = LVCMOS33;
